body {
  background-image: url(imgs/ESCALA.png);
  background-repeat: no-repeat;

  background-size: 900px 1650px;
}

h2 {
  display: flex;
  margin-left: 500px;
}

.box1 {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.pref {
  width: 380px;
}

#pf {
  font-size: 20px;
}

.item {
  margin-left: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f2f2f2;
  padding: 12px 15px;
  border-radius: 10px;
  width: 100%;
  font-size: 18px;
  flex: 1;
  font-weight: 500;
}

.item input[type="checkbox"] {
  margin-right: 15px;
  width: 20px;
  height: 20px;
}

.img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  margin-left: 15px;
}

.box2 {
  width: 40%;
  background: #fafafa;
  border-radius: 12px;
  padding: 20px;
  text-align: center;
}

/* cursor */
.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  cursor: default;
}

.item:hover,
.item:hover * {
  cursor: pointer !important;
}

.item[draggable="true"] {
  cursor: grab !important;
}
.item[draggable="true"]:active {
  cursor: grabbing !important;
}
