body{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_escolhas{
    background-color: aqua;
    width: 850px;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}


#fileInput {
    display: none;
}

.btn {
    padding: 10px 20px;
    background: #4CAF50;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    margin: 10px;
}

/* Preview redondo */
#preview img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover; /* mantém proporção sem esticar */
    margin: 10px;
    border: 2px solid #ccc;
}